.App {
  text-align: center;
}

.black-nav {
  display: flex;
  background: blue;
  width: 100%;
  color: white;
  padding-left: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit {
  padding-right: 20px;
}

div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}